# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
/.eide
/.cmsis
/.eide
/.cmsis
/.vscode
/Template/Keil_project/.cmsis
/Template/Keil_project/output
/Template/Keil_project/JLinkLog.txt
/Template/Keil_project/Project.uvguix.sds
/Template/Keil_project/Project.uvoptx
/Template/Keil_project/list
